.card {
  background-color: var(--main-bg-color);
  border-radius: .5rem;
  border: 1px solid var(--main-border-color);
  transition: all .15s ease-in-out;

  &:hover {
    background-color: var(--main-border-color);
  }
}