.noteForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.noteFormRow {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 30rem;
  width: 100%;
}

.noteFormLabel {
  color: #fff;
  font-weight: 500;
}